#myclock, .buttons, #mydate{
  border: 2px green solid;
}
#myclock {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 60px;
  font-weight: 600;
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  color: green;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
}

#AMPM {
  color: green;
  font-size: 17px;
  text-align: center;
  float: right;
  margin-right: 140px;
  width: 30px;
}

#mydate {
  color: green;
  font-size: 17px;
  border-top: none;
  border-bottom: none;
  text-align: center;
}

#frame {

  margin: 0 auto;
  width: 520px;
}

.buttons {
  text-align: center;
  border-radius: 0 0 30px 30px;
  padding: 20px;
}

body{
  background-color: black;
}

button {
  margin: 0 10px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color:green;
  color: yellow;
}
